uv
ty
ruff
pandas
jinja2
certifi
requests
marimo[mcp]
wigglystuff
ibm-watsonx-ai
python-lsp-server
jsonpath-python
python-dotenv
elasticsearch
pydantic-ai
ibmcloudant
pymongo
astrapy
pillow
pillow-heif
pyperf
openai