IBM_CLOUD_APIKEY=

CONTAINER_REGISTRY_REGION=eu-de
CONTAINER_REGISTRY_REGION_LOCALNAME=de.icr.io
CONTAINER_REGISTRY_REGION_PRIVATE_LOCALNAME=private.de.icr.io
CONTAINER_REGISTRY_NAMESPACE=<registry_namespace>

CODE_ENGINE_PROJECT_REGION=eu-de
CODE_ENGINE_PROJECT_ID=<ibm_cloud_guid>
CODE_ENGINE_CR_ACCESS_SECRET=ce-auto-icr-private-eu-de

SECRET_MANAGER_URL=
SECRET_MANAGER_SECRET_ID=
