MONGODB_CERT_PATH='config/tls_certs/mongodb.pem'
MONGODB_ENDPOINT='mongodb://$USERNAME:$PASSWORD@$HOSTNAME:$PORT.../ibmclouddb?authSource=admin&replicaSet=replset&tls=true''
MONGODB_USERNAME=
MONGODB_PASSWORD=